<div class="login-box">
    <h2 class="title-form">Log in</h2>
    <p class="paragraph-form">Seja bem vindo!</p>
    <form class="form" name="form">
        <div class="form-group">
            <label class="text-item" for="username">E-mail</label>
            <input type="text" class="form-control" name="username" placeholder="Teste" required />
        </div>
        <div class="form-group">
            <label class="text-item" for="password">Senha</label>
            <input type="password" class="form-control" name="password" placeholder="Sua senha" required />
        </div>
        <div class="wrap-buttons">
            <button class="btn">Login</button>
            <a href="#" class="btn btn-primary">Registrar-se</a>
        </div>
        <div class="form-group forgot">
            <p><a href="#">Esqueceu sua senha?</a></p>
        </div>
    </form>
</div>